<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <%if current_user.present?%>
      <div class="row user-reviews">
      <h3>Let us know what you think!</h3>
        <%= form_for [@product, @review] do |f| %>
          <div class="row">
              <dl class="dl-horizontal">
                <dt>Description</dt>
                <dd><%= f.text_area :description %></dd>
                <dt>Rating</dt>
                <dd><%= f.select :rating, [[1, 1],[2, 2],[3, 3],[4, 4], [5, 5]] %></dd>
                <dt></dt>
                <dd><%= f.submit "Submit" %></dd>
              </dl>
          </div>
        <% end %>
      <% end %>
        <h3>User Reviews </h3>
      <% if @reviews.present?%>
          <% @reviews.reverse.each do |review| %>
            <%= render 'review', review: review %>
          <% end %>
      <% else %>
        <h4>Be the first one to write a review!</h4>
      <% end %>
    </div>

  </article>

</section>
